html {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,

p {
    font-size: 3em;
    color: red;
}

body {
    width: 75%;
    background-color: RGB(255,228,196);
    
}

#banner {
    width: 100%;
    height: 20vh;
    border: black 5px solid;
    background-color: RGB(255,255,240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 20vh;
}

button {
    background-color: #9cddd0;
    width: 20%;
    height: 40px;
    width: 140px;
    border: black 2 px solid;
    margin-bottom: 10px;
}

input {
    width: 20%;
    line-height: 2em;
    margin-bottom: 1%;
    border: black 5px solid;
    font-size: x-large;
}

#card {
    width: 100%;
    border: black 5px solid;
    text-align: center;
    background-size: 100%;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #ffffff, -1px -1px #ffffff, 1px 1px #ffffff;
    height: 70vh;
    background-image: url(world.jpg);
}

sub {
    font-size: 0.5em;
    color: #000000;
}